body {
    padding: 2rem;
    box-sizing: border-box;
    background-color: #F0F0F0;
}

.books {
    display: flex;
    flex-wrap: wrap;
}

.book-card {
    background-color: white;
    padding: 1em;;
    display: flex;
    margin: 0 1em;
    flex-direction: column;
    width: calc((100% - 12em)/3);
    font-size: 1.1em;
    margin-bottom: 2em;
    transition: all 150ms ease-out;
    position: relative;
}

.book-card:hover {
    box-shadow: 1px 1px 5px whitesmoke ;
    transform: scale(1.02);
}

.remove-book {
    border: 1px solid white;
    position: absolute;
    top: .5em;
    right: .5em;
    font-size: 1.2em;
    background-color: white;
    transition: all 100ms ease-in;
}

.remove-book:hover {
    color: red;
}

.read-status {
    border: 1px solid black;
}

.book-card span {
    text-transform: capitalize;
    font-weight: 900;
}   

.book-card div {
    padding-bottom: .5em;
}
.button {
    padding: 7px;
    margin-top: 1em;
    border: white;
    background-color: #444;
    color: white;
    font-weight: 600;
}

.modal {
   position: fixed;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%) scale(0);
   border: 1px solid black;
   padding: 1em;
   z-index: 10;
   background-color: white;
   transition: 200ms ease-in-out;
   width: 40%;
}

.modal .field{
    display: flex;
    justify-content: space-between;
    padding: .5em 0;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.field input {
    width: 60%;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}

.field label {
    padding: 5px;
    font-size: 1.2em;
}

#submit {
    border: 1px solid red;
    padding: .7em 1.4em;
    background-color: black;
    color: white;
    font-weight: 600;
    border: white;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

#overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    opacity: 0;
    transition: 200ms ease-in-out;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}



span {
    display: inline-block;
}

